<html>
    <head><title>Tasks</title></head>
    <body>

        <div class="main-container  row"> 

            <div class="right-side col-3">

                <div class = "search-container ">
                    <app-search ></app-search>
                    <h4>חפש עובד</h4>
                </div>
                
                <div class = "departments-container ">
                    <app-treeview  ></app-treeview>  
                </div>

            </div>

            <div class="left-side col-9">
                    <app-tasks ></app-tasks>
            </div>

        </div>
    </body>
</html>


