<div class="users_container">

<mat-form-field>
  <mat-select dir="rtl" id="search-select"  class="form-control"  placeholder="{{selecteduser}}"  [(ngModel)]="selecteduser" matNativeControl required >
    <mat-option disabled>בחר עובד</mat-option>
    <mat-option *ngFor="let user of users" [value]="user.EmployeeName" (click)="changeSelection()">
      <div>
        {{user.EmployeeName}} 
        <img src={{user.EmployeePicture}} alt="user img">
      </div>
    </mat-option>
  </mat-select>
</mat-form-field>
</div>
