.task-table {
  border: 1px solid black;
  
  width: 100%;
  height: 70%;
  overflow-y: hidden;
}
.tableRow:hover
{
  background-color: rgb(108, 123, 200,0.2) !important;
}


.pagination {
  height: auto;
  width: 100%;

  background-color: aliceblue;
}

.mat-select {
  width: 50%;
  float: right;
}

h4 {
  position: sticky;
  top: 5%;
  padding: 1.5rem;
 
 
}

.header-row {
  position: sticky;
  top: 0%;
  background-color: aliceblue;
  width: 100%;
}

.card-footer {
  position: sticky;
  bottom: 10%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  background-color: aliceblue;
}

#dt-tasks {

  align-items: center;
}

.title-container {

  width: 100%;
  position: sticky;
  display: flex;
  justify-content: center;
}

.select-pages {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
